<div class="search">
  <form action="" #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="search city" name="City" [(ngModel)]="CityName" >
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/hot-pic1.jpg" alt="" *ngIf="weatherData.current.temp_c> 15">
    <img src="../assets/cool-pic.jpg" alt="" *ngIf="weatherData.current.temp_c< 15">

    <div class="weather-data">
      <div class="location">{{ weatherData.location.name }}</div>
      <div class="temperature">{{ weatherData.current.temp_c| number: '1.0-0'}}&deg;C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More-Information</div>
      <div class="more-info-container">
          <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/hot-thermoos.png" alt="" >
                <span>max</span>
            </div>
            <div class="info-block-value">
             {{weatherData.current. temp_c | number: '1.0-0'}}&deg;C
            </div>
          </div>

          <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/cold-thermoos.png" alt="" >
                <span>min</span>
            </div>
            <div class="info-block-value">
              {{weatherData.current. temp_c| number: '1.0-0'}}&deg;C
            </div>
          </div>

          <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/humidity.png" alt="" >
                <span>humidity</span>
            </div>
            <div class="info-block-value">
              {{weatherData.current.humidity| number: '1.0-0'}}%
            </div>
          </div>

          <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/windd.png" alt="" >
                <span>wind</span>
            </div>
            <div class="info-block-value">
             {{weatherData.current.wind_kph| number: '1.0-0'}} km/h
            </div>
          </div>
      </div>
  </div>
</div>
<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/cool-pic.jpg" alt="">
    <img src="../assets/cool-pic.jpg" alt="">

    <div class="weather-data">
      <div class="location">Islamabad</div>
      <div class="temperature">{{ 13.20 | number: '1.0-1'}}&deg;C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More-Information</div>
      <div class="more-info-container">
          <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/hot-thermoos.png" alt="" >
                <span>max</span>
            </div>
            <div class="info-block-value">
              40&deg;C
            </div>
          </div>

          <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/cold-thermoos.png" alt="" >
                <span>min</span>
            </div>
            <div class="info-block-value">
              14&deg;C
            </div>
          </div>

          <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/humidity.png" alt="" >
                <span>humidity</span>
            </div>
            <div class="info-block-value">
              83%
            </div>
          </div>

          <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/windd.png" alt="" >
                <span>wind</span>
            </div>
            <div class="info-block-value">
             15 km/h
            </div>
          </div>
      </div>
  </div>
</div> -->
<router-outlet></router-outlet>